<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 item">
                    <p class="copyright">Miguel Jacobs 2018 . All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</div>