<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 item">
                    <p class="copyright">Designed by Miguel Jacobs 2018</p>
                </div>
            </div>
        </div>
    </footer>
</div>